<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/index.css">
    <title>Crazy Quizz</title>
</head>

<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="/" class="nav-links">Crazy Quizz</a></li>
        </ul>
    </nav>
    <h1>{{.Question}}</h1>
    {{if not .Debutquizz}}
        <form action="/" method="post">
            <input type="hidden" name="commencer" value="oui">
            <button type="submit">Commencer le quizz</button>
        </form>
    {{else}}

        {{if .Finquizz}}
            <p>Ton score est de {{.Score}}, Bravo !</p>
            <br>
            <form action="/" method="post">
                <input type="hidden" name="recommencer" value="oui">
                <button type="submit">On se le refait ?</button>
            </form>
        {{else}}
            {{if .Finquestion}}
                <div>
                    <p>La réponse est :</p>
                    <p>{{.BonneRep}}</p><br>
                    <p>Ton score actuel :</p>
                    <p>{{.Score}}/10</p>
                    </br>
                    <form action="/" method="post">
                        <input type="hidden" name="suivant" value="oui">
                        <button type="submit">Question suivante</button>
                    </form>
                </div>
    
            {{else}}

                <div class="ligne">
                    {{range $i, $rep := .Reponses}}
                        <div>
                            <form action="/" method="post">
                                <input type="hidden" name="réponse" value="{{$rep}}">
                                <button type="submit">{{$rep}}</button>
                            </form>
                        </div>
                    {{end}}
                </div>
                <br>
                <p>Ton score actuel :</p>
                <p>{{.Score}}/10</p>
            {{end}}
        {{end}}
    {{end}}
</body>

</html>
