<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/index.css">
    <title>Goofy ahh nombre mystère</title>
</head>

<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="/" class="nav-links">Goofy ahh nombre mystère</a></li>
        </ul>
    </nav>
    <h1>{{.Message}}</h1>
    {{if not .Debutjeu}}
        <form action="/" method="post">
            <input type="hidden" name="commencer" value="oui" autofocus>
            <button type="submit">Commencer le jeu</button>
        </form>
    {{else}}

        {{if .Finjeu}}
            {{if .Abandon}}
                <p>Le nombre mystère était {{.DerniereRep}}</p>
                <br>
                <form action="/" method="post">
                    <input type="hidden" name="recommencer" value="oui" autofocus>
                    <button type="submit">On se fait une nouvelle goofy ahh game ?</button>
                </form>
            {{else}}
            <h1>Le nombre mystère est {{.DerniereRep}}</h1>
            <br>
            <p>Ton score est de {{.Score}} tentatives, Bravo !</p>
            <br>
            <form action="/" method="post">
                <input type="hidden" name="recommencer" value="oui" autofocus>
                <button type="submit">On se fait une nouvelle goofy ahh game ?</button>
            </form>
            {{end}}
        {{else}}
            {{if .PremiereRep}}
                <div>
                    
                    <p>{{.Message}}</p>
                    <br>
                    <form action="/" method="post">
                        <input type="number" name="tentative" min="0" max="1000" autofocus>
                        <button type="submit">Ai-je bon ?</button>
                    </form>
                </div>
    
            {{else}}

                <div>
                    <p>{{.DerniereRep}}...Mmmh...{{.Aide}}</p>
                    <br>
                    <p>Nombre de tentatives : {{.Score}}</p>
                    <br>
                    <form action="/" method="post">
                        <input type="number" name="tentative" value="{{.DerniereRep}}" min="0" max="1000" autofocus>
                        <button type="submit">Ai-je bon ?</button>
                    </form>
                    <br>
                    <form action="/" method="post">
                        <input type="hidden" name="tentative" value="abandonner">
                        <button type="submit">Abandonner (skill issue?)</button>
                    </form>
                    <br>
                    {{if gt (len .Historique) 0}}
                        <h3>Historique des tentatives :</h3>
                        <ul>
                            {{range .Historique}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                    {{end}}
                </div>
            {{end}}
        {{end}}
    {{end}}
</body>

</html>